table th.tablesorter-headerUnSorted {
    background-image: url("../images/sortneutro-36x36.png");
    background-repeat: no-repeat; 
    background-position: center right; 
}

table th.tablesorter-headerAsc {
    background-image: url("../images/sortup-36x36.png"); 
    background-position: center right;
    background-repeat: no-repeat;
}

table th.tablesorter-headerDesc {
    background-image: url("../images/sortdown-36x36.png"); 
    background-repeat: no-repeat;
    background-position: center right;
}